.checkout-section {
  background-color: rgba(22, 27, 34, 0.95);
  padding: 3rem 0;
  border-radius: 12px;
  max-width: 500px;
  margin: 2rem auto;
  box-shadow: 0 8px 20px rgba(0, 255, 5, 0.2);
}
.checkout-section h2,
.checkout-section h3 {
  color: #00ff00;
  text-shadow: 0 0 8px #00ff00;
  text-align: center;
}

.payment-form {
  padding: 20px;
}

input {
  color: #00ff00;
  border: 1px solid #00ff00;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  color: #c9d1d9;
  box-shadow: 0 0 10px #00ff0033;
  background: transparent;
}

label {
  color: #00ff00;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

.card-row {
  display: flex;
  gap: 1rem;
}
.checkout-btn {
  background: transparent;
  color: #00ff00;
  border: 1px solid #00ff00;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 100%;
  margin-top: 1rem;
  box-shadow: 0 0 10px #00ff0033;
  transition: 0.2s;
}

.checkout-btn:hover {
  background: #00ff00;
  color: #000;
  box-shadow: 0 0 20px #00ff00;
}
