.courses-section {
  background-color: rgba(22, 27, 34, 0.95);
  padding: 4rem 0;
  border-radius: 12px;
}

.subtitle {
  text-align: center;
  color: #8b949e;
  margin-bottom: 3rem;
}

.courses-title {
  color: #00ff00;
  text-shadow: 0 0 5px #00ff00;
  font-family: "Orbitron", sans-serif;
}
.ct {
  color: #000000;
  text-shadow: 0 0 5px #51ff00;
  font-family: "Courier New", monospace;
}

.about-us {
  margin-bottom: 30px;
}

.about-us-text {
  color: #00ff00;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
}

.neon-section i::before {
  color: #00ff00;
}
