.table-neon th,
.table-neon td {
  color: #00ff00;
}

.table-neon td {
  background-color: transparent;
  border: 1px solid #00ff00;
}

.neon-button {
  color: #00ff00;
  border: 1px solid #00ff00;
  background-color: transparent;
}

.neon-button:hover {
  background-color: #00ff00;
  color: #000000;
  box-shadow:
    0 0 10px #00ff00,
    0 0 20px #00ff00,
    0 0 30px #00ff00;
}

.delete-button {
  color: #ff0000;
  border: 1px solid #ff0000;
  background-color: transparent;
}
