.card {
  background-color: #0d1117;
  color: #c9d1d9;
  border: 1px solid #30363d;
  border-radius: 10px;
  overflow: hidden;
}
.card-title {
  font-weight: 600;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.courses-section {
  background-color: rgba(22, 27, 34, 0.95);
  padding: 4rem 0;
  border-radius: 12px;
}
.main-title {
  font-size: 3rem;
  font-weight: 700;
  color: #00ff00;
  text-align: center;
  text-shadow:
    0 0 10px #00ff00,
    0 0 20px #00ff00,
    0 0 30px #00ff00;
  font-family: "Orbitron", sans-serif;
}

.subtitle {
  text-align: center;
  color: #8b949e;
  margin-bottom: 3rem;
}

.courses-title {
  color: #00ff00;
  text-shadow: 0 0 5px #00ff00;
  font-family: "Orbitron", sans-serif;
}
.ct {
  color: #000000;
  text-shadow: 0 0 5px #51ff00;
  font-family: "Courier New", monospace;
}
