.card {
  background-color: #0d1117;
  color: #c9d1d9;
  border: 1px solid #30363d;
  border-radius: 10px;
  overflow: hidden;
}
.card-title {
  font-weight: 600;
  text-align: center;
}

.card-text {
  color: #00ff00;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 255, 5, 0.4);
  transition: all 0.3s ease;
}

.courses-section {
  background-color: rgba(22, 27, 34, 0.95);
  padding: 4rem 0;
  border-radius: 12px;
}

.subtitle {
  text-align: center;
  color: #8b949e;
  margin-bottom: 3rem;
}

.courses-title {
  color: #00ff00;
  text-shadow: 0 0 5px #00ff00;
  font-family: "Orbitron", sans-serif;
}
.ct {
  color: #000000;
  text-shadow: 0 0 5px #51ff00;
  font-family: "Courier New", monospace;
}

.about-us {
  margin-bottom: 30px;
}

.about-us-text {
  color: #00ff00;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
}

.neon-section i::before {
  color: #00ff00;
}

.text-neon {
  color: #00ff00;
}
