{{>header}}

<main class="flex-fill">
  {{#error}}
  <div class="alert alert-danger text-center mt-3" role="alert">{{error}}</div>
  {{/error}}
  <form
    action="/register"
    method="POST"
    class="d-flex justify-content-center align-items-center vh-100"
  >
    <div class="card p-4 shadow card1" style="width: 350px">
      <h3 class="card1-title mb-4">Register</h3>

      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control input-neon"
          id="username"
          name="username"
          required
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control input-neon"
          id="password"
          name="password"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control input-neon"
          id="email"
          name="email"
          required
        />
      </div>

      <button type="submit" class="btn w-100 btn-green mt-3">Register</button>
    </div>
  </form>
</main>
{{>footer}}
